/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
npm-debug.log
.env
.phpstorm.meta.php
.phpunit.result.cache
_ide_helper.php
public/mix-manifest.json
laravel-echo-server.lock
