// Body
$body-bg:       #D5D5D5;
$header-bg:     #6D7993;
$footer-bg:     #9099A2;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Footer
$footer-link-color:               #ffffff !default;
$footer-link-hover-color:         darken($footer-link-color, 10%) !default;
$footer-text-color:               #D3D3D3 !default;

// Sliding underline
$sliding-underline-height: 2px;
