// Variables
@import "variables";

// Mixins
@import "mixins";

// Header
@import "header";

// Footer
@import "footer";

// Normalize scss
@import "node_modules/normalize-scss/sass/normalize";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Select2
@import "node_modules/select2/src/scss/core";

// Select 2 bootstrap theme
@import "node_modules/select2-bootstrap-theme/src/select2-bootstrap";

// Font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

body {
  background: $body-bg;
}

div#content {
  padding-top: 10px;
  padding-bottom: 10px;
}
ol.breadcrumb {
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;

}
div.page-header {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
h4.no-desc {
  margin-bottom: 0;
}
form#logout-form {
  display: none;
}
// Special button styling for buttons attached to list group
.list-group > .input-group > .input-group-btn > button.btn {
  line-height: 2.2;
}
div.popover.confirmation {
  width: 400px;
}
span.list-group-item-date {
  position: absolute;
  right: 15px;
  font-size: smaller;
}
select.form-control[multiple]:not(.select2-hidden-accessible) {
  height: 38px;
}
/* Start loader ellipsis */
.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #555; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
/* End loader ellipsis */